/* shared styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #58554A;
    color: #FFF9E3;
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}

template {
    max-width: 1600px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    border-bottom: #9FE459 5px solid;
    height: 120px;
    padding: 0  15px;
}

#user {
    margin-left: auto;
    margin-right: 0;
}

#logo {
    width:250px;
    height: auto;
}

#user {
    display: flex;
    margin-top: 20px;
    position: relative;
    align-items: center;
    gap: 20px;
}

#user img {
    height: 80px;
    width: auto;
}

header button {
    font-size: 18px;
    padding: 10px 15px;
    font-family: "Fira Sans", sans-serif;
    background-color: #FFF9E3;
    color: #58554A;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

